body{
    background: url(../img/cielo.jpg);
   background-attachment: fixed;
 
}

#logo{
  
    background:skyblue;
   
}

#menu ul li:hover{
    background: blue;
}

.button{
  
    background: blue;

}