body{
    background: url(../img/hojas.jpg);
   background-attachment: fixed;
 
}

#logo{
  
    background:green;
   
}

#menu ul li:hover{
    background: green;
}

.button{
  
    background: green;

}